{% comment %} 유형석 {% endcomment %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>유형석의 test5</title>
    <script src="https://kit.fontawesome.com/c949f64c3b.js" crossorigin="anonymous"></script>
</head>
{% comment %} <body></body>
    <i class="fa-solid fa-user-chef"></i> <!-- uses solid style -->
    <i class="fa-brands fa-github-square"></i> <!-- uses brand style -->
    <i class="fa-solid fa-thumbs-up fa-5x"></i>
    <i class="fa-thin fa-user"></i>
    <div class="content">
        <span>Hello CSS!</span>
    </div>
</body> {% endcomment %}
<body>
    <!-- solid style -->
    <i class="fa-solid fa-user"></i>
  
    <!-- regular style -->
    <i class="fa-regular fa-user"></i>
  
    <!-- light style -->
    <i class="fa-light fa-user"></i>
  
    <!-- duotone style -->
    <i class="fa-duotone fa-user"></i>
  
    <!-- all new thin style -->
    <i class="fa-thin fa-user"></i>
  
    <!-- all new sharp family -->
    <i class="fa-sharp fa-solid fa-user"></i>
  
    <!--brand icon-->
    <i class="fa-brands fa-github-square"></i>

    
  </body>
</html>