
        <!doctype html>
        <html>
          <head>
            <!-- Place your kit's code here -->
            <script src="https://kit.fontawesome.com/c949f64c3b.js" crossorigin="anonymous"></script>
            <title>이모티콘 테스트 페이지</title>
          </head>

          <body>
            <div class="test_icon"></div>
                <i class="fa-solid fa-circle-heart"></i>
                <i class="fa-regular fa-comment-lines"></i>
                <i class="fas fa-thumbs-up"></i>
                <i class="fas fa-heart-circle"></i>
                <i class="fas fa-jack-o-lantern"></i>
                <i class="fas fa-comment-alt-lines"></i>
                <i class="fal fa-typewriter"></i>
                <i class="fa-solid fa-bars"></i>
                <i class="fa-regular fa-face-grin-hearts"></i>
                <i class="fa-regular fa-pen-to-square"></i>
                <i class="fa-solid fa-ghost"></i>
                <i class="fa-regular fa-ghost"></i>
                <i class="fa-regular fa-comment-dots"></i>
            </div>
            <div class="tweet">

            </div>
            <div class="follow">
                <i class="fa-solid fa-handshake fa-5x"></i>
                <i class="fa-regular fa-handshake fa-5x"></i>
                <i class="fa-solid fa-users fa-5x"></i>
            </div>
            <div class="love">
                <span style="color:purple"><i class="fa-regular fa-heart fa-5x"></i></span>
                <span style="color:purple"><i class="fa-solid fa-heart fa-5x"></i></span>
            </div>

            <span style="color:blue"><i class="fa fa-camera fa-5x"></i></span>



                
          </body>
        </html>
        

