{% comment %} 메인페이지 {% endcomment %}
{% include 'temp_test/nav.html' %}
<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!-- 메인페이지 css 경로 -->
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <!-- google icon -->
  <link
    href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
    rel="stylesheet">

  <script>
    function Comment() {
      alert('댓글 작성 완료!');
    }
    function delete_feed() {
      alert('게시글 삭제 완료!')
    }
    var state = ["block", "none"];
    var i = 0;
    var j = 1;
    function change(k) {
      if (i >= state.length) {
        i = 0;
      }
      var b = document.getElementById("good" + k);
      b.style.display = state[i];

      i++;
      var d = document.getElementById("bad" + k);
      d.style.display = state[j];
      j--
      if (j < 0) {
        j = 1;
      }
    }
  </script>
  <title>8'Rooms SNS</title>
</head>
<style>
  .modal_overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
  }

  .modal_window {
    background: white;
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 800px;
    height: 600px;
    position: relative;
    padding: 10px;

  }

  .modal_image_upload {
    outline: 2px dashed black;
    outline-offset: -10px;
    text-align: center;
    transition: all .15s ease-in-out;
    width: 780px;
    height: 548px;
  }

  .button_s {
    border: 0;
    outline: 0;
    background-color: transparent;
  }
</style>

<body>
  <div class="container">
    {% for tw in tweet %}
    <div class="col">
      <div class="feed_box">
        <div class="profile_box">
          <div class="profile_img_box">
            <img class="profile_img"
              src="https://t1.daumcdn.net/cafeattach/aVeZ/96bb985f315f63a2fe16120d8b0fec4b589ac4e9">
          </div>
          <!-- 작성자 아이디 데이터에서 가져와야함-->
          <span class="author"> {{ tw.username }} </span>
          <!-- 게시글 작성자 닉네임, 작성 시간 데이터에서 가져와야함 -->
          <span style="font-size: small;">{{tw.created_at|timesince}} ago</span>
          <!-- 작성자가 유저인 경우만 삭제 버튼 출력 -->
          {% if tw.username == user %}
          <div style="width: auto; height: 30px; margin-left: auto; margin-right: 0px;">
            <button id="open_edit_box" data-toggle="modal" type="button" class="btn btn-outline-secondary"
              style="width: auto; height: 32px; display: flex; align-items:center;"
              onclick="OpenModal('{{ tw.content }}', '{{ tw.tags.all }}', '/media/{{ tw.tweet_img }}', '{{ tw.write_no }}')">수정</button>
          </div>

          <a href="/main/user_profile_delete/{{ tw.write_no }}"
            style="width: auto; height: 30px; margin-left: 13px; margin-right: 3px;">
            <button type="button" class="btn btn-outline-secondary" onclick="delete_feed()"
              style="width: auto; height: 32px; display: flex; align-items:center;">삭제</button>
          </a>
          {% endif %}
        </div>
        <div class="feed">
          <!-- 게시물 사진 클릭 시 게시물 상세페이지로 이동 -->
          <a href="/main/read/{{ tw.write_no }}">
            <img class="feed_img" src="/media/{{ tw.tweet_img }}">
          </a>
        </div>
        <div class="feed_content">
          <p style="font-size: 14px;">{{ tw.content }}</p>
        </div>
        <form action="/main/comment/{{ tw.write_no }}" method="post" style="margin-top: 20px;">
          {% csrf_token %}
          <div class="comment_box">
            <div class="like_icon">
              <div class="like">
                <button style="display: block" onclick="change('{{ tw.write_no }}');" id="bad{{tw.write_no}}"
                  class="bad" type="button">
                  <i class="fa-regular fa-heart" aria-hidden="true"></i>
                </button>
                <button style="display: none" onclick="change('{{ tw.write_no }}');" id="good{{tw.write_no}}"
                  class="good" type="button">
                  <i class="fa-solid fa-heart" aria-hidden="true"></i>
                </button>
              </div>
            </div>
            <div class="comment">
              <input type="text" class="form-control" placeholder="댓글" aria-label="First name" name="my-comment"
                id="my-comment" style="width: 400px;">
            </div>
            <button onclick="Comment()" type="submit" class="btn btn-dark" style="width: 70px;">게시</button>
          </div>
        </form>
        <div class="tag_box">
          {% if tw.tags.all %}
          {% for tag in tw.tags.all %}
          <div class="tags">
            <a href="{% url 'tagged_object_list' tag.name %}" style="color:black; ">
              {{ tag.name }}
            </a>
          </div>
          {% endfor %}
          {% endif %}
        </div>



        {% if comment %}
        {% for cm in comment %}
        <div class="comment_box" style="background-color:light-blue;">댓글이 보이는 박스입니다.</div>
        {% endfor %}
        {% endif %}
      </div>
    </div>
    <div id="edit_modal" class="modal_overlay">
      <div class="modal_window">
        <div style="display: flex; flex-direction:row; justify-content: space-between;">
          <div>
            수정하거라
          </div>
          <div>
            Feed Edit
          </div>
          <div>
            <!-- 닫기 버튼을 넣기위해 -->

            <button class="button_s" type="button" id="edit_close_button">
              <i class="fa-regular fa-circle-xmark">Close</i>
            </button>
          </div>
        </div>
        <div style="display: hidden" value="" id="modal_id"></div>
        <!-- 이미지 -->
        <div style="display: flex; flex-direction:row;">
          <div class="img_upload_space" style="width: 500px; height: 540px; margin-top: 20px;">
            <img class="feed_img" src="/media/{{ tw.tweet_img }}" id="modal_image">
          </div>
          <!-- 내용 -->
          <div style="border-left: solid 1px gray; margin-top: 20px;">
            <div class="feed_content">
              <textarea class="form-control" rows="9" id="modal_content" style="width: 274px; height: 400px;"
                placeholder="내용을 적어주세요"></textarea>
            </div>
            <!-- 태그 -->
            <div>
              <textarea class="form-control" id="modal_tags" rows="9" style="width: 274px; height: 100px;"
                placeholder="tag"></textarea>

            </div>

            <div>{% csrf_token %}
              <button onclick="edit_tweet('{{ tw.write_no }}')" type="button" class="fa-solid fa-forward fa-1x"
                style="padding: 0 100px;">수정완료</i>

            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  

  <script>
    function OpenModal(content, tags, image, id) {
      $('#edit_modal').css({
        display: 'flex'

      });


      var modal_content = document.getElementById("modal_content")
      var modal_tags = document.getElementById("modal_tags")
      var modal_image = document.getElementById("modal_image")
      // 게시글 아이디값 받아오기
      var id = document.getElementById("modal_id")

      modal_content.placeholder = content
      modal_image.src = image
      modal_id.value = id

    }

    $('#nav_edit_box').click(function () {
      alert('보여라')
      $('#edit_modal').css({
        display: 'flex'
      });
    });
    // $(document.body).css({
    //   overflow: 'hidden'
    // });


    // 서버를 보낼때
    function edit_tweet(id) {
      console.log('done')

      let content = document.getElementById("modal_content").value;
      let tag = document.getElementById("modal_tags").value;
      // let tags = $('#modal_tags').val();
      alert(content)
      //let id = document.getElementById("modal_id")

      let editfeed = new FormData();

      editfeed.append('content', content);
      editfeed.append('tags', tags);

      var $crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
      $.ajax({
        type: "POST",
        headers: { "X-CSRFToken": $crf_token },
        url: "/main/tweet_edit/" + id,
        data: editfeed,
        processData: false,
        contentType: false,

        success: function (data) {  // 콜백 함수들(success, error, compile)
          location.reload()
        },
        error: function (request, status, error) {
          console.log("에러");

        },
        complete: function () {
          console.log("완료");
        }
      })
    };




    $('#edit_close_button').click(function () {
      $('#edit_modal').hide();
    })
  </script>

 
</body>

</html>