<!DOCTYPE html>
{% comment %} 마이프로필 페이지 {% endcomment %}
<!-- Beomki 회원정보 링크추가 -->
{% include 'temp_test/nav.html' %}
{% load static %}
<html>

<head>
  <script src="https://kit.fontawesome.com/c949f64c3b.js" crossorigin="anonymous"></script>
  <title>W3.CSS Template</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link
    href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
    rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/my_profile.css' %}">
  <script>
    function Comment() {
      alert('댓글 작성 완료!');
    }
    var state = ["block", "none"];
    var i = 0;
    var j = 1;
    function change(k) {
      if (i >= state.length) {
        i = 0;
      }
      var b = document.getElementById("good"+k);
      b.style.display = state[i];
      
      i++;
      var d = document.getElementById("bad"+k);
      d.style.display = state[j];
      j--
      if (j < 0) {
        j = 1;
      }
    }
  </script>  
</head>

<body class="w3-theme-l5">
  <div class="container">
    <div class="row">
      <div class="col-sm" style="max-width:250px; margin-top:20px;">
        <div class="w3-card w3-white">
          <div class="w3-container">
            <h4 class="w3-center" style="padding: 10px 0 5px 0; font-weight: bold;">My Profile</h4>
            <p class="w3-center"><img src="https://i.postimg.cc/kGw4SRKS/gyuhyeon.jpg" class="w3-circle"
                style="height:106px;width:106px" alt="Avatar"></p>
            <hr>
            <div class="intro">
              {% if user.is_authenticated %}
                  <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> 닉네임:<br>{{user.user}}</p>
                  <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> e-mail:<br>{{user.email}}</p>
                  <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> 자기소개:<br>{{user.bio}}</p>
                  <a href="{% url 'profileupdate' %}"><class="w3-bar-item w3-button w3-padding-large">정보 수정하기</a>
                  <p> Follow 000 </p>
                  <p>Follower 000 </p>
                  {% endif %}
            </div>
          </div>
        </div>
        <br>
    <!-- Interests -->
        <div class="w3-card w3-white w3-hide-small" style="padding-top:10px;">
          <div class="w3-container" style="font-weight: bold;">
            <div style="font-size: 25px;"><p>Interests</p></div>
            <p>
              <span class="w3-tag w3-small w3-theme-l5">News</span>
              <span class="w3-tag w3-small w3-theme-l5">W3Schools</span>
              <span class="w3-tag w3-small w3-theme-l5">Labels</span>
              <span class="w3-tag w3-small w3-theme-l5">Games</span>
              <span class="w3-tag w3-small w3-theme-l5">Friends</span>
              <span class="w3-tag w3-small w3-theme-l5">Games</span>
              <span class="w3-tag w3-small w3-theme-l5">Friends</span>
              <span class="w3-tag w3-small w3-theme-l5">Food</span>
              <span class="w3-tag w3-small w3-theme-l5">Design</span>
              <span class="w3-tag w3-small w3-theme-l5">Art</span>
              <span class="w3-tag w3-small w3-theme-l5">Photos</span>
            </p>
          </div>
        </div>
        <br>
      </div>
      {% for tw in tweet %}
      <div class="col-sm">
        <div class="main_feed" style="margin-left:20px; margin-top:5px;" >
            <div class="feed_box">
              <div class="profile_box">
                <div class="profile_img_box">
                  <img class="profile_img"
                    src="https://t1.daumcdn.net/cafeattach/aVeZ/96bb985f315f63a2fe16120d8b0fec4b589ac4e9">
                </div>
                {% if tw.username == user %}
                  <span class="author"> {{ tw.username }} </span>
                  <span style="font-size: small; text-align: right;">{{tw.created_at|timesince}} ago</span>

                  <a href="/main/user_profile_edit/{{ tw.write_no }}"
                  style="width: auto; height: 30px; margin-left: auto; margin-right: 0px;">
                  <button type="button" class="btn btn-outline-secondary"
                  style="width: auto; height: 32px; diplay: flex; align-items:center;">수정</button>
                  </a>
  
                  <a href="/main/user_profile_delete/{{ tw.write_no }}"
                  style="width: auto; height: 30px; margin-left: 13px; margin-right: 3px;">
                  <button type="button" class="btn btn-outline-secondary" onclick="delete_feed()"
                  style="width: auto; height: 32px; diplay: flex; align-items:center;">삭제</button>
                  </a>
                {% endif %}
              </div>
              <div class="feed">
                <a href="/read/">
                  <img class="feed_img" src={{ tw.tweet_img }}.JPG>
                </a>
              </div>
              <div class="feed_content">
                <p class="feed_txt">{{ tw.content }}</p>
              </div>
              {% if tw.tags.all %}
                {% for tag in tw.tags.all %}
                  <div class="tags">
                    <div class="card-body">
                      <a href="{% url 'tagged_object_list' tag.name %}" style="color:black;">
                        <span class="card-link" style="color:black;">
                          {{ tag.name }}
                        </span>
                      </a>  
                {% endfor %}
                <a style="text-decoration: none"
                  href="{% url 'tag_cloud' %}"></a>
              {% endif %}          
                    </div>
                  </div>  
              {% comment %}{% endfor %}{% endcomment %}
              {% comment %}{% endif %}{% endcomment %}
    
              {% comment %}{% endfor %}{% endcomment %}
              
              <form action="" method="post"></form>
                {% csrf_token %}
                <div class="feed_icon">
                  <div class="like" style="margin-left: auto;">
                    <button style="display: block" onclick="change({{ tw.write_no }});" id="bad{{tw.write_no}}" class="bad" type="button">
                      <i class="fa-regular fa-heart" aria-hidden="true"></i>
                    </button>
                    <button style="display: none" onclick="change({{ tw.write_no }});" id="good{{tw.write_no}}" class="good" type="button">
                      <i class="fa-solid fa-heart" aria-hidden="true"></i>
                    </button>
                      <i class="fa-solid fa-heart" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </form>  
            </div>
          </div> 
        </div>     
      </div>
      {% endfor %}
    </div>
  </div>
</body>

</html>