{% comment %} Beomki {% endcomment %}
<!DOCTYPE html>
{% comment %} {% include 'temp_test/nav.html' %} {% endcomment %}
<!-- Beomki nav주석 풀지마세요 post안됩니다! -->
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>8번방의 선물</title>

    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
</head>
    

    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <script src="https://kit.fontawesome.com/c949f64c3b.js" crossorigin="anonymous"></script>
    </head>
<body>
    {% block base %}
    {% csrf_token%}
    {% if user.is_authenticated %}
    <form class ="form-signup" action="{% url 'profileupdate' %}" method="POST">
        {% csrf_token%} 
        <div class="contentsWrap"  >
            <div class="loginWindow">
                <i style="font-size:100px;  " class="fa-brands fa-instagram"></i>
                <input type="text" placeholder="{{user.phone}}" class="inlineToBlock" id="phone" name="phone" value="{{user.phone}}">
                <input type="text" placeholder="{{user.username}}" class="inlineToBlock" id="username" name="username" value="{{user.username}}" readonly>
                <input type="password" placeholder="수정하고 싶은 비밀번호를 입력해주세요" class="inlineToBlock" id="userpw"name="userpw" value="{{user.userpw}}">
                <input type="text" placeholder="{{user.user}}" class="inlineToBlock" id="username" name="username" value="{{user.user}}" readonly>
                <input type="text" placeholder="{{user.email}}" class="inlineToBlock" id="useremail" name="useremail" value="{{user.email}}">
                <!-- <input type="text" placeholder="{{user.userimg}}" class="inlineToBlock" id="userimg" name="userimg" value="{{user.userimg}}"> -->
                <input type="text" placeholder="{{user.bio}}" class="inlineToBlock" id="bio" name="bio" value="{{user.bio}}">
            <button class="inlineToBlock ordinaryLogin unactivatedLoginColor">회원정보 수정하기</button>
    </form>
        {% endif %}

  {% endblock %}
</body>
</html>

