{% comment %} 김서영 {% endcomment %}
<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head></head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>8번방의 선물</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    {% comment %} <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script> {% endcomment %}
    <script src="https://kit.fontawesome.com/c949f64c3b.js" crossorigin="anonymous"></script>
    </head>
<body>
    {% block base %}
    {% csrf_token%}
    <form class ="form-signup" method="POST" action="/signup/" name="ProfileForm">
        <div class="contentsWrap">
            <div class="loginWindow">
                <i style="font-size:100px;  " class="fa-brands fa-instagram"></i>
                <input type="text" placeholder="전화번호를 입력해주세요" class="inlineToBlock" id="phone" name="phone">
                <input type="text" placeholder="로그인 시 사용할 아이디를 입력해주세요" class="inlineToBlock" id="username" name="username">
                <input type="password" placeholder="비밀번호" class="inlineToBlock" id="userpw"name="userpw">
                <input type="password" placeholder="비밀번호 재입력 해주세요!" class="inlineToBlock" id="userpw2"name="userpw2">
                <input type="text" placeholder="이름을 입력해주세요" class="inlineToBlock" id="user" name="user">
                <input type="text" placeholder="이메일을 입력해주세요" class="inlineToBlock" id="useremail" name="useremail">
                <!-- <input type="text" placeholder="사진" class="inlineToBlock" id="userimg" name="userimg"> -->
                <input type="text" placeholder="자기 소개말을 입력해주세요" class="inlineToBlock" id="bio" name="bio">
            <button class="inlineToBlock ordinaryLogin unactivatedLoginColor">회원가입</button>
    </form>
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}
        <div class="haveAccount">
            <p>
              <a href="/login" class="noneunderline">로그인 하러가기</a>
            </p>
        </div>
    
    </div>

  {% endblock %}
</body>
</html>
