
/* 메인 페이지 css */
.container {
    display: flex;
    flex-direction: column;
    justify-content:center;
    background-color: #FAFAFA;
}

.col {
    display: flex;
    justify-content:center;
    margin-bottom: 50px;

}
.profile_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
}

.profile_img_box {
    width: 40px;
    height: 40px;
    border-radius: 70%;
    overflow: hidden;
}

.profile_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.author {
    font-size: 18px;
    padding: 0px 10px;
    font-weight: bold;
}

.feed_box {
    background-color: white;
    width: 600px;
    height: auto;
    margin: 10px;
    min-height: 750px;
    padding-bottom: 10px;
    border: 1px #CCD0D5 solid;

}
.feed a{
    display: flex;
    justify-content: center;
}
.feed_img {
    width: 90%;
    object-fit: contain;
    min-height:500px;
    
}

.feed a:hover img,
.feed a:focus img {
    transform: scale(1.03)
}

.feed_content {
    margin-top: 20px;
    padding: 0px 30px;
}

.like_icon {
    display: flex;
    align-items: center;
}

.good {
    padding: 0;
    border: 0;
    outline: 0;
    color: red;
    background-color: transparent;
}

.bad {
    padding: 0;
    border: 0;
    outline: 0;
    color: red;
    background-color: transparent;
}

.comment_box {
    display: flex;
    justify-content:space-evenly;
}

.comment {
    display: flex;
    width: auto;
    height: auto;
}
.tag_box {
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 40px;
    padding: 0px 20px;
}
.tags {
    margin: 0px 7px 0px 7px;
}