/* 메인 프로필 css */
.container {
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }

  .profile_box {
    padding: 10px;
    display: flex;
    align-items: center;
  }

  .author {
    font-size: 18px;
    padding: 0px 10px;
    font-weight: bold;
  }

  .profile_img_box {
    width: 40px;
    height: 40px;
    border-radius: 70%;
    overflow: hidden;
  }

  .profile_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .feed_box {
    background-color: white;
    width: 450px;
    height: auto;
    margin: 10px;
    min-height: 750px;
    padding-bottom: 10px;
    border: 1px #CCD0D5 solid;
  }

  .feed_img {
    width: 100%;
    object-fit: contain;
    min-height:500px;
  }

  .feed a:hover img,
  .feed a:focus img {
    transform: scale(0.9);
  }

  .feed_content {
    margin-top: 10px;
    padding: 0px 10px;
  }

  .feed_txt {
    font-size: 14px;
  }
  .form {
    display: flex;
    
  }
  #emptyheart {
    padding: 0;
    border: 0;
    outline: 0;
    color: red;
    background-color: transparent;
  }
  #heart {
    padding: 0;
    border: 0;
    outline: 0;
    color: red;
    background-color: transparent;
  }
  .intro {
    font-weight: bold;
  }
  .col {
    width: auto;
    height: auto;
    display: flex;
    margin: auto;
    margin-top: 40px;
  }
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
  .item {
    display: flex;
    width: auto;
    height: auto;
  }