/* 메인 프로필 css */
.container {
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }

  .main_feed {
    width: auto;
    height: 2000px;
    display: flex;
    flex-direction: column;
  }

  .profile_box {
    padding: 10px;
    display: flex;
    align-items: center;
  }

  .author {
    font-size: 18px;
    padding: 0px 10px;
    font-weight: bold;
  }

  .profile_img_box {
    width: 40px;
    height: 40px;
    border-radius: 70%;
    overflow: hidden;
  }

  .profile_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .feed_box {
    background-color: white;
    width: 500px;
    margin: 10px;
    min-height: auto;
    padding-bottom: 10px;
    border: 1px #CCD0D5 solid;
  }

  .feed_img {
    width: 100%;
    object-fit: contain;
    max-height:500px;
  }

  .feed a:hover img,
  .feed a:focus img {
    transform: scale(0.9);
  }

  .feed_content {
    margin-top: 10px;
    margin-left: 30px;
    padding: 0px 10px;
  }
  
  .tags {
    margin-left:30px;
    font-weight: bold;
  }
  
  .feed_txt {
    font-size: 14px;
  }

  .feed_icon {
    padding: 5px 5px 0px 5px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin-right:30px;
    margin-bottom: 20px;
  }

  .feed_icon span {
    padding: 7px 0px 5px 10px;
  }

  .form {
    display: flex;
  }
  .good {
    padding: 0;
    border: 0;
    outline: 0;
    color: red;
    background-color: transparent;
}

.bad {
    padding: 0;
    border: 0;
    outline: 0;
    color: red;
    background-color: transparent;
}

  .intro {
    font-weight: bold;
  }

  .col {
    place-items: center;
    display: grid;
  }