/* https://www.codingfactory.net/12630 */

.button_heart:hover{
    padding: 0;
    border: 0;
    outline: 0;
    color: red;
}

.button_heart{
    padding: 0;
    border: 0;
    outline: 0;
    background-color: transparent;
    color: black;
}

.button_heart_a{
    position: relative;
}

.button_heart_b:hover .button_heart_c{
    display: block;
}

.button_heart_b{
    position: relative;
}

.button_heart_c{
    position: absolute;
    display: none;
}

.comment:hover{
    padding: 0;
    border: 0;
    outline: 0;
    color: gray;
}

.comment{
    padding: 0;
    border: 0;
    outline: 0;
    color: black;
    background-color: transparent;
    
   
    
}
